#root {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}
body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.App {
  background-color: #141414;
  color: #e5e5e5;
  font-family: "Lato", sans-serif;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.header {
  display: flex;
  background-color: #141414;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
.header__heading {
  text-decoration: none;
  color: #e50914;
}

.review__search-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 10px;
}
.review__search-img {
  width: 100%;
}
.review__search-img-container {
  max-width: 300px;
  position: relative;
}
.btn {
  padding: 0.5rem 2rem;
  font: inherit;
  background: #e50914;
  border: none;
  color: white;
  cursor: pointer;
  margin: 0.5rem 0rem;
}
a {
  text-decoration: none;
  color: inherit;
}
input {
  padding: 0.5rem 2rem;
  background-color: #474646;
  color: white;
  border: none;
  margin: 0.5rem 0rem;
}
textarea {
  padding: 0.5rem 2rem;
  background-color: #474646;
  color: white;
  border: none;
  margin: 0.5rem 0rem;
  resize: none;
  height: 6rem;
}
input::placeholder {
  color: #e5e5e5;
  font: inherit;
}
textarea::placeholder {
  color: #e5e5e5;
  font-family: "Lato", sans-serif;
}
.btn--review {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%;
  z-index: 1;
}
.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btn-container button {
  margin-left: 1rem;
}

.review__write {
  position: absolute;
  width: 500px;
  min-height: 500px;
  background-color: #141414;
  z-index: 2;
  padding: 3rem;
  left: 50%;
  transform: translateX(-50%);
  top: 15rem;

  display: flex;
  flex-direction: column;
}
.review {
  position: relative;
}
.review__search-cover {
  height: 100%;
  width: 100%;
  background-color: rgb(12, 12, 12);
  opacity: 0.8;
  z-index: 1;
  position: absolute;
}
.form {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  box-sizing: content-box;
  padding: 3rem;
  background: #141414;
  border-radius: 10px;
  text-align: center;
}

.home__review-container {
  background-color: #2b2a2a;
  padding: 2rem;
  margin: 1rem;
  width: fit-content;
  border-radius: 10px;
  max-width: 600px;
}
.input--comment {
  border-radius: 10px;
  width: 400px;
  margin-left: 1rem;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}
.user-initials {
  background-color: #474646;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: 0;
}
.home__review-img {
  width: 100%;
}
.home__comment-container {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.home__comment-content {
  margin-left: 1rem;
  background-color: #474646;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.home__comment-content-author {
  font-size: 12px;
  padding-bottom: 0;
  margin: 0;
  color: #a8a7a7;
}
.home__comment-content-body {
  margin: 0;
}
.material-symbols-outlined {
  cursor: pointer;
}
.review__form-error {
  color: #e50914;
}
.home__review-caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__review-vote-icon {
  margin-left: 1rem;
}

.home__comment-view-all {
  padding-top: 0.5rem;
  cursor: pointer;
}
.home__review-vote-icon:hover {
}

.home__review-upvote-container {
  position: relative;
}
.home__review-downvote-container {
  position: relative;
}
.likes {
  position: absolute;
  top: 10px;
  left: 10px;
  margin-top: 10px;
  background-color: #222222;
  padding: 10px;
}

.form__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1b1b1b;
}
.sidenav__container {
  /* position: relative; */
  width: 300px;
  box-sizing: content-box;
}

.sidenav {
  border-radius: 10px;
  position: sticky;
  width: 200px;
  top: 5rem;
  height: 80vh;
  left: 1rem;
  padding-left: 2rem;

  margin-left: 1rem;
}
.main {
  display: grid;
  background-color: #1b1b1b;
  min-height: 100vh;
  grid-template-columns: 1fr 3fr;
}
.icon--blue {
  background-color: blue;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: none;
  flex-grow: none;
  margin-left: 5px;
}
.newsfeed-container {
  display: flex;
  justify-content: center;
}
.btn--search {
  margin-left: 1rem;
}
.hidden {
  display: none;
}
.review__heading {
  margin-top: 5rem;
}
.sideNav__user-critic-badge {
  background-color: green;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  flex-shrink: none;
  flex-grow: none;
  margin-left: 5px;
}
.sideNav__new-review {
  display: flex;
  align-items: center;
}
.sideNav__user {
  display: flex;
  align-items: center;

  padding-bottom: 0.5rem;
  border-bottom: solid 1px #222121;
}
.green {
  color: green;
}
.red {
  color: red;
}
.profile {
  margin-top: 5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.profile__info {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
.profile__photo {
  margin-right: 2rem;
  position: relative;
  height: 250px;
}
.profile__profile-pic {
  width: 250px;
  /* height: 250px; */
  height: 100%;
  border-radius: 50%;
}

.profile__photo-edit {
  position: absolute;
  left: 60%;
  top: 80%;
  display: flex;
  align-items: center;
}
.profile__about-edit {
  width: 100%;
}
.profile__about-edit-input {
  width: 100%;
}

.profile__about-heading {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 1rem;
}

.profile__about-rating-badge {
  width: 30px;
  height: 30px;
  background-color: green;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.profile__user-review {
  max-width: 300px;
  padding: 10px;
}

.profile__user-review-img img {
  width: 100%;
}
.profile__review-container {
  display: flex;
}
.profile__user-review-rating {
  text-align: center;
}
.profile__user-review-summary {
  text-align: center;
}
.profile__photo-upload {
  display: none;
}
.header__notification-container {
  position: relative;
}
.header__notification-number {
  background-color: red;
  width: 15px;
  justify-content: center;
  height: 15px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
.header__notification-drop-down {
  position: absolute;
  top: 50px;
  padding: 1rem 2rem;
  background-color: #141414;
}
.header__notification-drop-down-message {
  padding-bottom: 0.5rem;
  cursor: pointer;
}
